:root {
    --main-green: #A5D449;
    --sec-green: #5A7A5A;
    --main-gray: #66666A;
    --white: #fff;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    margin: 0;
}

#home-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 20vh;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

#welcome-label {
    font-size: 3vh;
    color: var(--main-gray);
    text-align: left;
}

#title-label {
    font-size: 8vh;
    word-wrap: break-word;
    color: var(--main-gray);
    text-align: center;
}

#title-label-1 {
    font-size: 12vh;
    font-style: italic;
    color: var(--main-green);
    text-align: center;
}

#start-btn {
    background-color: var(--main-green);
    border: 0;
    font-size: 3vh;
    width: 60vw;
    height: 7vh;
    margin-top: 15%;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5)
}

